.hero .container {
  margin-bottom: 190px;
  padding: 115px 85px;
  background-image: url(../images/back-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.hero__box {
  width: 500px;
}

.hero___heading {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  line-height: 72px;
}

.hero___description {
  width: 400px;
  margin: 0;
  margin-bottom: 56px;
}