.steps__controller {
  margin-left: 85px;
}

.steps--plan .container {
  background-color: rgba(44, 52, 62, 1);
  margin-bottom: 159px;
  padding-top: 91px;
  padding-right: 150px;
  padding-bottom: 107px;
  padding-left: 85px;
  border-radius: 10px;
}

.step__heading {
  margin: 0;
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 32px;
  color: rgb(53, 68, 88);
}

.step__line {
  position: relative;

  &::before {
    display: inline-block;
    width: 760px;
    height: 1px;
    margin-left: 15.5px;
    background-color: rgba(253, 214, 186, 1);
    content: "";
  }
}

.step__circle {
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 31px;
  top: 1.25px;
  background: rgba(254, 252, 247, 1);
  border: 2px solid rgba(14, 135, 132, 1);
  border-radius: 50%;

  &--plan {
    background-color: rgba(44, 52, 62, 1);
  }
  
  &--first {
    left: 0;
  }

  &--second {
    left: 381px;
  }

  &--third {
    left: 762px;
  }
}

.step__list {
  display: flex;
  margin-top: 82px;
  margin-bottom: 64px;
  padding: 0;
  list-style-type: none;
}

.step__item {
  width: 284px;

  & + & {
    margin-left: 95px;
  }

  &::before {
    display: inline-block;
    height: 72px;
    font-family: "Fraunces", "Arial", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: rgba(253, 214, 186, 1);
  }

  &--first::before {
    width: 80px;
    content: "01";
  }

  &--second::before {
    width: 101px;
    content: "02";
  }

  &--third::before {
    width: 98px;
    content: "03";
  }
}

.step___heading {
  margin-top: 38;
  margin-bottom: 42px;
  font-size: 34px;
  line-height: 36px;
  color: rgba(51, 61, 75, 1);

  &--plan {
    color: rgba(254, 252, 247, 1);
  }
}

.step___description {
  margin: 0;
  color: rgba(51, 61, 75, 1);

  &--plan {
    color: rgba(254, 252, 247, 1);
  }
}

.step___link {
  margin-bottom: 200px;
}
