.task .container {
  display: flex;
  align-items: center;
  margin-bottom: 256px;
  padding: 0 105px;

  &::before {
    display: inline-block;
    width: 445px;
    height: 520px;
    content: "";
    background-image: url(../images/task.png);
  }
}

.task__box {
    width: 540px;
    margin-left: 125px;
}

.task__heading {
  font-size: 40px;
  line-height: 48px;
  color: rgba(51, 61, 75, 1);
}

.task__description {
  color: rgba(51, 61, 75, 1);
}
